<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.388750021990-7r1im1dn9vmk9m5rphhen46hljppeaot</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>NSMenuItem</key>
			<dict/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
